<div [@routerTransition]>
    <app-page-header [heading]="'Formation'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-6">
                <div class="card-header ">
                    <b class="col col-lg-2">Formation List </b>
                    <input class="col col-lg-8" type="text" placeholder="search"> &nbsp;&nbsp;
                    <a class="col-lg-2 btn btn-success btn-rounded">Add new Formation</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-sm-6">
                            <label> name </label>
                            <input class="form-control" placeholder="Enter your firstName">
                        </div>

                        <div class="col col-sm-6">
                            <label>prenom</label>
                            <input class="form-control" placeholder="enter your lastName">
                        </div>

                        <div class="col col-sm-6">
                            <label>categorie</label>
                            <input class="form-control" placeholder="Categorie">
                        </div>

                        <div class="col col-sm-6">
                            <label>Nombre de place disponible</label>
                            <input  type="number" min="1" max="50" value="50" class="form-control" placeholder="place disponible">
                        </div>

                        <div class="col col-sm-6">
                            <label>Nombre de place disponible</label>
                            <input  type="date" min="2019-01-01" max="2019-12-31" class="form-control" placeholder="date de debut">
                        </div>

                        <div class="col col-sm-6">
                            <label>Nombre de place disponible</label>
                            <input  type="date" min="2019-01-01" max="2019-12-31" class="form-control" placeholder="date de fin">
                        </div>

                        <div class="col col-sm-12">
                            <label>description de formation</label>
                            <textarea  type="text"  class="form-control" placeholder="description"></textarea>
                        </div>

                        <div class="col col-sm-12 d-flex justify-content-center w-100 p-3">
                            <a type="submit" class="btn btn-success ">envoyer</a> &nbsp;&nbsp;
                            <a type="reset" class="btn btn-danger ">Delete</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
