<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    Soft Skills
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    Technical Skills
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
