<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div [@routerTransition]>
    <app-page-header [heading]="'Tech-Skills'" [icon]="'fa-table'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <form role="form col col-lg-12">


                <div class="form-group col col-sm-6">
                    <label> Categorie de skill </label>
                    <input class="form-control" placeholder="Enter categorie">
                </div>

                <div class="form-group  col col-sm-6">
                    <label>nom de skill</label>
                    <input class="form-control">
                </div>

                <div class="form-group col col-sm-6">
                    <label>note actuelle</label>
                    <select class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="form-group col col-sm-6">
                    <label>note souhaité</label>
                    <select class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div  class="form-group col-lg-6">
                    <button type="submit" class="btn btn-success">Submit Button</button> &nbsp;&nbsp;
                    <button type="reset" class="btn btn-danger">reset Button</button>
                </div>
            </form>

        </div>
    </div>

        <div class="row">
            <div class="col col-xl-12 col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">Soft-Skill List </div>
                    <table class="card-body table table-hover">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>categorie </th>
                            <th>nom de skill</th>
                            <th>note actuelle</th>
                            <th>note souhaité</th>
                            <th colspan="2">action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>dev</td>
                            <td>java</td>
                            <td>2</td>
                            <td>4</td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
 </div>

