<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div [@routerTransition]>
    <app-page-header [heading]="'Soft-Skills'" [icon]="'fa-list'"></app-page-header>
    <div class="col col-xl-12 col-lg-12">
        <form role="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
            

            <div class="col col-sm-12">
                <label>nom de skill</label>
                <input formControlName="nomSkill" class="form-control" placeholder="enter skill name">
            </div>
            <br>

            <div class="col col-sm-6">
                <label>note actuelle</label>
                <select formControlName="noteAct" class="form-control">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div class="col col-sm-6">
                <label>note souhaité</label>
                <select formControlName="noteFuture" class="form-control">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div class="card-header d-flex justify-content-center w-100 p-3">
                <button type="submit" class="btn btn-success">Submit Skill</button> &nbsp;&nbsp;
                <button type="reset" class="btn btn-danger">reset Skill</button>
            </div>
        
        </div>
    </form>
    </div>

    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Soft-Skill List </div>
                <table class="card-body table table-hover">
                    <thead>
                    <tr>
                        
                        <th>nom Skill </th>
                        <th>note actuelle</th>
                        <th>note souhaitée</th>
                        <th colspan="2">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let skill of skills , let i=index ">
                    <td>{{this.skill.nomSkill}}</td>
                    <td>{{this.skill.noteAct}}</td>
                    <td>{{this.skill.noteFuture}}</td>
                    
                    <td>
                        <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
