<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Primeur HR</h1>
            <form role="form" [formGroup]="userForm" (ngSubmit)="onSubmit()"> 
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="nom"  class="form-control input-underline input-lg" id="" placeholder="{{ 'Nom' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="prenom" class="form-control input-underline input-lg" id="" placeholder="{{ 'Prenom' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="mail" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="fonction"  class="form-control input-underline input-lg" id="" placeholder="{{ 'Fonction' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="equipe" class="form-control input-underline input-lg" id="" placeholder="{{ 'Equipe' | translate }}">
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit">{{ 'Register' | translate }}</button>&nbsp;
                
            </form>
        </div>
    </div>
</div>
